USE [RBI]
GO
/****** Object:  Table [dbo].[AmineCracking]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AmineCracking](
	[AmnID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[AmAge] [numeric](18, 0) NULL,
	[AmInsEff] [nvarchar](50) NULL,
	[AmnofIns] [numeric](18, 0) NULL,
	[InspectDate] [smalldatetime] NULL,
	[AmSvi] [nvarchar](50) NULL,
	[AmSviVal] [numeric](18, 0) NULL,
	[AmDf] [numeric](18, 3) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_AmineCracking] PRIMARY KEY CLUSTERED 
(
	[AmnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brittle_Facture]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brittle_Facture](
	[BritID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[Fullpress] [nvarchar](5) NULL,
	[OpTemp] [numeric](18, 0) NULL,
	[MinDsgn] [numeric](18, 0) NULL,
	[ATM] [numeric](18, 0) NULL,
	[Tmin] [numeric](18, 0) NULL,
	[Tref] [numeric](18, 0) NULL,
	[CmpThick] [numeric](18, 1) NULL,
	[PWHT] [nvarchar](5) NULL,
	[Dfb] [numeric](18, 2) NULL,
	[FSE] [numeric](18, 2) NULL,
	[Df] [numeric](18, 2) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Brittle_Facture] PRIMARY KEY CLUSTERED 
(
	[BritID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarbonateCracking]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarbonateCracking](
	[CO3ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[CO3Age] [numeric](18, 0) NULL,
	[CO3InsEff] [nvarchar](50) NULL,
	[CO3nofIns] [numeric](18, 0) NULL,
	[InspectDate] [smalldatetime] NULL,
	[CO3Svi] [nvarchar](50) NULL,
	[CO3SviVal] [numeric](18, 0) NULL,
	[CO3Df] [numeric](18, 3) NULL,
	[pHwater] [nvarchar](50) NULL,
	[CO3] [nvarchar](50) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_CarbonateCracking] PRIMARY KEY CLUSTERED 
(
	[CO3ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CausticCracking]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CausticCracking](
	[CauID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[CSAge] [numeric](18, 0) NULL,
	[CSInsEff] [nvarchar](50) NULL,
	[CSnofIns] [numeric](18, 0) NULL,
	[InspectDate] [smalldatetime] NULL,
	[CSSvi] [nvarchar](50) NULL,
	[CSSviVal] [numeric](18, 0) NULL,
	[CSDf] [numeric](18, 3) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_CausticCracking] PRIMARY KEY CLUSTERED 
(
	[CauID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLSCC]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLSCC](
	[CLSID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[CLSAge] [numeric](18, 0) NULL,
	[CLSInsEff] [nvarchar](50) NULL,
	[CLSnofIns] [numeric](18, 0) NULL,
	[InspectDate] [smalldatetime] NULL,
	[CLSSvi] [nvarchar](50) NULL,
	[CLSSviVal] [numeric](18, 0) NULL,
	[CLSDf] [numeric](18, 3) NULL,
	[pH] [nvarchar](50) NULL,
	[Chldppm] [nvarchar](50) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_CLSCC] PRIMARY KEY CLUSTERED 
(
	[CLSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COF_Flammable]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COF_Flammable](
	[FlameID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[Fluid] [nvarchar](30) NULL,
	[Repfluid] [nvarchar](30) NULL,
	[Type] [nvarchar](30) NULL,
	[OpPres] [nvarchar](30) NULL,
	[Optemp] [nvarchar](30) NULL,
	[P1] [nvarchar](30) NULL,
	[Mass] [nvarchar](30) NULL,
	[Detect] [nvarchar](30) NULL,
	[Iso] [nvarchar](30) NULL,
	[factMit] [nvarchar](30) NULL,
	[w1] [nvarchar](30) NULL,
	[w2] [nvarchar](30) NULL,
	[w3] [nvarchar](30) NULL,
	[w4] [nvarchar](30) NULL,
	[Time1] [nvarchar](30) NULL,
	[Time2] [nvarchar](30) NULL,
	[Time3] [nvarchar](30) NULL,
	[Time4] [nvarchar](30) NULL,
	[T1] [nvarchar](30) NULL,
	[T2] [nvarchar](30) NULL,
	[T3] [nvarchar](30) NULL,
	[T4] [nvarchar](30) NULL,
	[rate1] [nvarchar](30) NULL,
	[rate2] [nvarchar](30) NULL,
	[rate3] [nvarchar](30) NULL,
	[rate4] [nvarchar](30) NULL,
	[id1] [nvarchar](30) NULL,
	[id2] [nvarchar](30) NULL,
	[id3] [nvarchar](30) NULL,
	[id4] [nvarchar](30) NULL,
	[mass1] [nvarchar](30) NULL,
	[mass2] [nvarchar](30) NULL,
	[mass3] [nvarchar](30) NULL,
	[mass4] [nvarchar](30) NULL,
	[eneff] [nvarchar](30) NULL,
	[CaA] [nvarchar](30) NULL,
	[CaB] [nvarchar](30) NULL,
	[CAc1] [nvarchar](30) NULL,
	[CAc2] [nvarchar](30) NULL,
	[CAc3] [nvarchar](30) NULL,
	[CAc4] [nvarchar](30) NULL,
	[CaInsA] [nvarchar](30) NULL,
	[CaInsB] [nvarchar](30) NULL,
	[CAIns1] [nvarchar](30) NULL,
	[CAIns2] [nvarchar](30) NULL,
	[CAIns3] [nvarchar](30) NULL,
	[CAIns4] [nvarchar](30) NULL,
	[Ainj] [nvarchar](30) NULL,
	[Binj] [nvarchar](30) NULL,
	[CAInj1] [nvarchar](30) NULL,
	[CAInj2] [nvarchar](30) NULL,
	[CAInj3] [nvarchar](30) NULL,
	[CAInj4] [nvarchar](30) NULL,
	[AInsInj] [nvarchar](30) NULL,
	[BInsInj] [nvarchar](30) NULL,
	[CAInsInj1] [nvarchar](30) NULL,
	[CAInsInj2] [nvarchar](30) NULL,
	[CAInsInj3] [nvarchar](30) NULL,
	[CAInsInj4] [nvarchar](30) NULL,
	[factic1] [nvarchar](30) NULL,
	[factic2] [nvarchar](30) NULL,
	[factic3] [nvarchar](30) NULL,
	[factic4] [nvarchar](30) NULL,
	[CAcmd1] [nvarchar](30) NULL,
	[CAcmd2] [nvarchar](30) NULL,
	[CAcmd3] [nvarchar](30) NULL,
	[CAcmd4] [nvarchar](30) NULL,
	[CAbleInj1] [nvarchar](30) NULL,
	[CAbleInj2] [nvarchar](30) NULL,
	[CAbleInj3] [nvarchar](30) NULL,
	[CAbleInj4] [nvarchar](30) NULL,
	[CAcmdFinal1] [nvarchar](30) NULL,
	[CAcmdFinal2] [nvarchar](30) NULL,
	[CAcmdFinal3] [nvarchar](30) NULL,
	[CAcmdFinal4] [nvarchar](30) NULL,
	[CAInjFinal1] [nvarchar](30) NULL,
	[CAInjFinal2] [nvarchar](30) NULL,
	[CAInjFinal3] [nvarchar](30) NULL,
	[CAInjFinal4] [nvarchar](30) NULL,
	[CAcmdTotal] [nvarchar](30) NULL,
	[CAInjTotal] [nvarchar](30) NULL,
	[CAcmdCate] [nvarchar](30) NULL,
	[CAinjCate] [nvarchar](30) NULL,
	[maxval] [nvarchar](30) NULL,
	[maxcate] [nvarchar](30) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
	[ptrans] [nvarchar](20) NULL,
	[FluidStored] [nvarchar](50) NULL,
 CONSTRAINT [PK_COF_Flammable] PRIMARY KEY CLUSTERED 
(
	[FlameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COF_NonFlammable]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COF_NonFlammable](
	[NonFlameID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[Fluid] [nvarchar](30) NULL,
	[Repfluid] [nvarchar](30) NULL,
	[Type] [nvarchar](30) NULL,
	[OpPres] [nvarchar](30) NULL,
	[Optemp] [nvarchar](30) NULL,
	[P1] [nvarchar](30) NULL,
	[Mass] [nvarchar](30) NULL,
	[Detect] [nvarchar](30) NULL,
	[Iso] [nvarchar](30) NULL,
	[factMit] [nvarchar](30) NULL,
	[w1] [nvarchar](30) NULL,
	[w2] [nvarchar](30) NULL,
	[w3] [nvarchar](30) NULL,
	[w4] [nvarchar](30) NULL,
	[Time1] [nvarchar](30) NULL,
	[Time2] [nvarchar](30) NULL,
	[Time3] [nvarchar](30) NULL,
	[Time4] [nvarchar](30) NULL,
	[T1] [nvarchar](30) NULL,
	[T2] [nvarchar](30) NULL,
	[T3] [nvarchar](30) NULL,
	[T4] [nvarchar](30) NULL,
	[rate1] [nvarchar](30) NULL,
	[rate2] [nvarchar](30) NULL,
	[rate3] [nvarchar](30) NULL,
	[rate4] [nvarchar](30) NULL,
	[id1] [nvarchar](30) NULL,
	[id2] [nvarchar](30) NULL,
	[id3] [nvarchar](30) NULL,
	[id4] [nvarchar](30) NULL,
	[mass1] [nvarchar](30) NULL,
	[mass2] [nvarchar](30) NULL,
	[mass3] [nvarchar](30) NULL,
	[mass4] [nvarchar](30) NULL,
	[eneff] [nvarchar](30) NULL,
	[CAInj1] [nvarchar](30) NULL,
	[CAInj2] [nvarchar](30) NULL,
	[CAInj3] [nvarchar](30) NULL,
	[CAInj4] [nvarchar](30) NULL,
	[CAInsInj1] [nvarchar](30) NULL,
	[CAInsInj2] [nvarchar](30) NULL,
	[CAInsInj3] [nvarchar](30) NULL,
	[CAInsInj4] [nvarchar](30) NULL,
	[factic1] [nvarchar](30) NULL,
	[factic2] [nvarchar](30) NULL,
	[factic3] [nvarchar](30) NULL,
	[factic4] [nvarchar](30) NULL,
	[CAbleInj1] [nvarchar](30) NULL,
	[CAbleInj2] [nvarchar](30) NULL,
	[CAbleInj3] [nvarchar](30) NULL,
	[CAbleInj4] [nvarchar](30) NULL,
	[CAInjFinal1] [nvarchar](30) NULL,
	[CAInjFinal2] [nvarchar](30) NULL,
	[CAInjFinal3] [nvarchar](30) NULL,
	[CAInjFinal4] [nvarchar](30) NULL,
	[CAInjTotal] [nvarchar](30) NULL,
	[CAinjCate] [nvarchar](30) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
	[ptrans] [nvarchar](20) NULL,
	[FluidStored] [nvarchar](50) NULL,
	[g] [numeric](18, 3) NULL,
	[h] [numeric](18, 3) NULL,
 CONSTRAINT [PK_COF_NonFlammable] PRIMARY KEY CLUSTERED 
(
	[NonFlameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](150) NOT NULL,
	[Address1] [nvarchar](150) NOT NULL,
	[Address2] [nvarchar](150) NULL,
	[City] [nvarchar](30) NULL,
	[State] [nvarchar](30) NULL,
	[Postcode] [nvarchar](10) NULL,
	[Country] [nvarchar](50) NULL,
	[Contactno] [nvarchar](20) NULL,
	[Faxno] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Website] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[Createdby] [numeric](18, 0) NOT NULL,
	[Createddate] [datetime] NOT NULL,
	[Modifiedby] [numeric](18, 0) NULL,
	[Modifieddate] [datetime] NULL,
	[Rowversions] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUI]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUI](
	[CUIID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[Agtk] [numeric](18, 0) NULL,
	[InsEff] [nvarchar](20) NULL,
	[cmpdt] [smalldatetime] NULL,
	[caldt] [smalldatetime] NULL,
	[nofins] [numeric](2, 0) NULL,
	[InspectDate] [smalldatetime] NULL,
	[coatqual] [nvarchar](20) NULL,
	[CUIagcoat] [numeric](10, 5) NULL,
	[CUIage] [numeric](10, 5) NULL,
	[fps] [numeric](2, 0) NULL,
	[fip] [numeric](2, 0) NULL,
	[crdriver] [nvarchar](20) NULL,
	[cr] [numeric](10, 5) NULL,
	[CUIart] [numeric](10, 5) NULL,
	[CUIDf] [numeric](10, 3) NULL,
	[fins] [nvarchar](20) NULL,
	[fcm] [nvarchar](20) NULL,
	[fic] [nvarchar](20) NULL,
	[CompanyID] [numeric](18, 0) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_CUI] PRIMARY KEY CLUSTERED 
(
	[CUIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DeptId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CompanyID] [numeric](18, 0) NULL,
	[DeptCode] [nvarchar](50) NOT NULL,
	[DeptName] [nvarchar](150) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NOT NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ECD]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ECD](
	[ECDID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[Agtk] [numeric](18, 0) NULL,
	[InsEff] [nvarchar](20) NULL,
	[cmpdt] [smalldatetime] NULL,
	[caldt] [smalldatetime] NULL,
	[nofins] [numeric](2, 0) NULL,
	[InspectDate] [smalldatetime] NULL,
	[coatqual] [nvarchar](20) NULL,
	[ECDagcoat] [numeric](10, 5) NULL,
	[ECDage] [numeric](10, 5) NULL,
	[fps] [numeric](2, 0) NULL,
	[fip] [numeric](2, 0) NULL,
	[crdriver] [nvarchar](20) NULL,
	[cr] [numeric](10, 5) NULL,
	[ECDart] [numeric](10, 5) NULL,
	[ECDDf] [numeric](10, 3) NULL,
	[CompanyID] [numeric](18, 0) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
	[YS] [numeric](18, 2) NULL,
	[TS] [numeric](18, 2) NULL,
	[S] [numeric](18, 2) NULL,
	[E] [numeric](18, 2) NULL,
	[Le] [numeric](18, 3) NULL,
	[t_rde] [numeric](18, 3) NULL,
	[age_tke] [numeric](18, 2) NULL,
	[Cage] [numeric](18, 2) NULL,
	[CoatAdj] [numeric](18, 2) NULL,
	[Prp1_ext] [numeric](18, 2) NULL,
	[Prp2_ext] [numeric](18, 2) NULL,
	[Prp3_ext] [numeric](18, 2) NULL,
	[DS1] [numeric](18, 2) NULL,
	[DS2] [numeric](18, 2) NULL,
	[DS3] [numeric](18, 2) NULL,
	[FDL] [numeric](18, 2) NULL,
	[FWD] [numeric](18, 2) NULL,
	[FAM] [numeric](18, 2) NULL,
	[FSM] [numeric](18, 2) NULL,
	[FOM] [numeric](18, 2) NULL,
	[FS_extcorr] [numeric](18, 2) NULL,
	[SRP_extcorr] [numeric](18, 4) NULL,
 CONSTRAINT [PK_ECD] PRIMARY KEY CLUSTERED 
(
	[ECDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EightEightFive]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EightEightFive](
	[ID885] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[Fullpress] [nvarchar](5) NULL,
	[OpTemp] [numeric](18, 0) NULL,
	[MinDsgn] [numeric](18, 0) NULL,
	[Tmin] [numeric](18, 0) NULL,
	[CmpThick] [numeric](18, 1) NULL,
	[BritTrans] [nvarchar](5) NULL,
	[Tref] [numeric](18, 0) NULL,
	[Df885] [numeric](18, 2) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_EightEightFive] PRIMARY KEY CLUSTERED 
(
	[ID885] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment_Asset_MSACCESS]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment_Asset_MSACCESS](
	[plantcode] [nvarchar](50) NULL,
	[DOSH] [nvarchar](255) NULL,
	[TagName] [nvarchar](255) NULL,
	[EquipType] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[PID] [nvarchar](255) NULL,
	[Lining] [nvarchar](255) NULL,
	[Intrusive] [nvarchar](50) NULL,
	[Plant_startup] [int] NULL,
	[Last_date] [datetime] NULL,
	[Next_date] [datetime] NULL,
	[Remain_date] [datetime] NULL,
	[Historydescription] [nvarchar](max) NULL,
	[UT_Scan] [bit] NOT NULL,
	[InspectionTechnique] [nvarchar](250) NULL,
	[InspectionScope] [nvarchar](250) NULL,
	[RBIObservation] [nvarchar](250) NULL,
	[DOSHObservation] [nvarchar](250) NULL,
	[Effective] [nvarchar](50) NULL,
	[confidentfactor] [float] NULL,
	[Last_ta_date] [datetime] NULL,
	[C_Effective] [nvarchar](50) NULL,
	[Historydescription_a] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment_Features_MSACCESS]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment_Features_MSACCESS](
	[Plantcode] [nvarchar](50) NULL,
	[TagName] [nvarchar](255) NULL,
	[FeatureNumber] [nvarchar](255) NULL,
	[FeatureClass] [nvarchar](255) NULL,
	[Insulated] [nvarchar](255) NULL,
	[Painting] [nvarchar](255) NULL,
	[MaterialType] [nvarchar](255) NULL,
	[MaterialSpec] [nvarchar](255) NULL,
	[NominalThickness] [float] NULL,
	[ConstThickness] [float] NULL,
	[MAWT] [float] NULL,
	[Confidence] [nvarchar](255) NULL,
	[Corr_Rate] [float] NULL,
	[RemainingLife] [int] NULL,
	[NoofInspection] [int] NULL,
	[Effective] [nvarchar](50) NULL,
	[confidentfactor] [float] NULL,
	[PSNo] [nvarchar](50) NOT NULL,
	[DesignPress] [nvarchar](50) NULL,
	[DesignTemp] [nvarchar](50) NULL,
	[OperatingPress] [nvarchar](50) NULL,
	[OperatingTemp] [nvarchar](50) NULL,
	[Remain_date] [datetime] NULL,
	[LCorr_Rate] [float] NULL,
	[C_Effective] [nvarchar](50) NULL,
	[Measure] [nvarchar](255) NULL,
	[Expect_Rate] [float] NULL,
	[InspectionTechnique] [nvarchar](250) NULL,
	[InspectionScope] [nvarchar](250) NULL,
	[Tactual] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExCLS]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExCLS](
	[ExCLSID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[Agtk] [numeric](18, 0) NULL,
	[InsEff] [nvarchar](20) NULL,
	[cmpdt] [smalldatetime] NULL,
	[caldt] [smalldatetime] NULL,
	[nofins] [numeric](2, 0) NULL,
	[InspectDate] [smalldatetime] NULL,
	[coatqual] [nvarchar](20) NULL,
	[age] [numeric](10, 5) NULL,
	[crdriver] [nvarchar](20) NULL,
	[Svi] [nvarchar](20) NULL,
	[ExCLSDf] [numeric](10, 3) NULL,
	[CompanyID] [numeric](18, 0) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_ExCLS] PRIMARY KEY CLUSTERED 
(
	[ExCLSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExCUI]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExCUI](
	[ExCUIID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[Agtk] [numeric](18, 0) NULL,
	[InsEff] [nvarchar](20) NULL,
	[cmpdt] [smalldatetime] NULL,
	[caldt] [smalldatetime] NULL,
	[nofins] [numeric](2, 0) NULL,
	[InspectDate] [smalldatetime] NULL,
	[coatqual] [nvarchar](20) NULL,
	[age] [numeric](10, 5) NULL,
	[crdriver] [nvarchar](20) NULL,
	[pip] [nvarchar](20) NULL,
	[inscon] [nvarchar](20) NULL,
	[chlrfree] [nvarchar](20) NULL,
	[Svi] [nvarchar](20) NULL,
	[ExCUIDf] [numeric](10, 3) NULL,
	[CompanyID] [numeric](18, 0) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_ExCUI] PRIMARY KEY CLUSTERED 
(
	[ExCUIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinanceCOF]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinanceCOF](
	[FinanID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[EquipNO] [nvarchar](50) NULL,
	[CompName] [nvarchar](50) NULL,
	[HCSmall] [nvarchar](50) NULL,
	[HCMedium] [nvarchar](50) NULL,
	[HCLarge] [nvarchar](50) NULL,
	[HCRupture] [nvarchar](50) NULL,
	[OutSmall] [nvarchar](50) NULL,
	[OutMedium] [nvarchar](50) NULL,
	[OutLarge] [nvarchar](50) NULL,
	[OutRupture] [nvarchar](50) NULL,
	[MatCost] [nvarchar](50) NULL,
	[FCcmd] [nvarchar](50) NULL,
	[CAcmd] [nvarchar](50) NULL,
	[Outcmd] [nvarchar](50) NULL,
	[CAInj] [nvarchar](50) NULL,
	[EqcostDollar] [nvarchar](50) NULL,
	[Eqcostft2] [nvarchar](50) NULL,
	[FCaffa] [nvarchar](50) NULL,
	[ProCost] [nvarchar](50) NULL,
	[Outaffa] [nvarchar](50) NULL,
	[FCprod] [nvarchar](50) NULL,
	[InjCost] [nvarchar](50) NULL,
	[FCInj] [nvarchar](50) NULL,
	[SUMPFC] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_FinanceCOF] PRIMARY KEY CLUSTERED 
(
	[FinanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HF]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HF](
	[HFID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[HFAge] [numeric](18, 0) NULL,
	[HFInsEff] [nvarchar](50) NULL,
	[HFnofIns] [numeric](18, 0) NULL,
	[InspectDate] [smalldatetime] NULL,
	[HFSvi] [nvarchar](50) NULL,
	[HFSviVal] [numeric](18, 0) NULL,
	[HFDf] [numeric](18, 3) NULL,
	[pwht] [nvarchar](50) NULL,
	[Material] [nvarchar](50) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_HF] PRIMARY KEY CLUSTERED 
(
	[HFID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HIC]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIC](
	[HICID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[HICAge] [numeric](18, 0) NULL,
	[HICInsEff] [nvarchar](50) NULL,
	[HICnofIns] [numeric](18, 0) NULL,
	[InspectDate] [smalldatetime] NULL,
	[HICSvi] [nvarchar](50) NULL,
	[HICSviVal] [numeric](18, 0) NULL,
	[HICDf] [numeric](18, 3) NULL,
	[pHwater] [nvarchar](50) NULL,
	[SteelSul] [nvarchar](50) NULL,
	[Heat] [nvarchar](20) NULL,
	[steelsulf] [nvarchar](20) NULL,
	[Severity] [nvarchar](20) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_HIC] PRIMARY KEY CLUSTERED 
(
	[HICID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HSC]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HSC](
	[HSCID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[HSCAge] [numeric](18, 0) NULL,
	[HSCInsEff] [nvarchar](50) NULL,
	[HSCnofIns] [numeric](18, 0) NULL,
	[InspectDate] [smalldatetime] NULL,
	[HSCSvi] [nvarchar](50) NULL,
	[HSCSviVal] [numeric](18, 0) NULL,
	[HSCDf] [numeric](18, 3) NULL,
	[pwht] [nvarchar](50) NULL,
	[Brinnel] [nvarchar](50) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_HSC] PRIMARY KEY CLUSTERED 
(
	[HSCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HTHA]    Script Date: 26-09-2026 16:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HTHA](
	[HTHAID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[InsEff] [nvarchar](20) NULL,
	[nofins] [numeric](7, 0) NULL,
	[InspectDate] [smalldatetime] NULL,
	[age] [numeric](18, 4) NULL,
	[ExTemp] [numeric](18, 4) NULL,
	[Heat] [nvarchar](20) NULL,
	[PH2] [numeric](18, 4) NULL,
	[Pv] [numeric](18, 4) NULL,
	[Mat] [nvarchar](20) NULL,
	[Svi] [nvarchar](20) NULL,
	[inspection] [nvarchar](20) NULL,
	[HTHADf] [numeric](10, 0) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_HTHA] PRIMARY KEY CLUSTERED 
(
	[HTHAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inorganic]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inorganic](
	[siyear] [numeric](5, 0) NULL,
	[Alloy] [numeric](5, 1) NULL,
	[Castable] [numeric](5, 1) NULL,
	[Severe] [numeric](5, 0) NULL,
	[Glass] [numeric](5, 0) NULL,
	[Acid] [numeric](5, 0) NULL,
	[Fiber] [numeric](5, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InspectEffect]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InspectEffect](
	[DamageFactor] [nvarchar](20) NULL,
	[InsCate] [nvarchar](2) NULL,
	[InsEffCate] [nvarchar](20) NULL,
	[IntrInsp] [nvarchar](250) NULL,
	[NonIntrInsp] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InspectionPlan]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InspectionPlan](
	[InspectID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[DamageFact] [nvarchar](20) NULL,
	[InspectCate] [nvarchar](1) NULL,
	[InspectDate] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LiningDamage]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LiningDamage](
	[LnfID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[Lntype] [nvarchar](15) NULL,
	[SIyear] [numeric](18, 0) NULL,
	[Dfb] [nvarchar](50) NULL,
	[LnCond] [nvarchar](50) NULL,
	[LnCondVal] [numeric](18, 0) NULL,
	[OnMoni] [nvarchar](5) NULL,
	[OnMoniVal] [numeric](18, 0) NULL,
	[DfLine] [numeric](18, 2) NULL,
	[CompanyID] [numeric](18, 0) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_LiningDamage] PRIMARY KEY CLUSTERED 
(
	[LnfID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogTable]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogTable](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](50) NULL,
	[LoginTime] [datetime] NOT NULL,
	[LogoutTime] [datetime] NULL,
	[Flag] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterAuditTrail]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterAuditTrail](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
	[Module] [nvarchar](150) NOT NULL,
	[Activity] [nvarchar](50) NOT NULL,
	[Exception] [nvarchar](max) NULL,
	[Actiontime] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_MasterAuditTrail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterErrorMessage]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterErrorMessage](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](200) NOT NULL,
	[Color] [nchar](50) NOT NULL,
	[OrderNo] [numeric](18, 0) NULL,
 CONSTRAINT [PK_MasterErrorMessage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterLog]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterLog](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
	[Module] [nvarchar](150) NOT NULL,
	[Activity] [nvarchar](50) NOT NULL,
	[Result] [nvarchar](50) NULL,
	[Actiontime] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_MasterLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mechanical_Fatigue]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mechanical_Fatigue](
	[MechID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[DfbPF] [numeric](10, 0) NULL,
	[DfbAS] [numeric](10, 0) NULL,
	[FfbAS] [numeric](10, 2) NULL,
	[DfbCF] [numeric](10, 0) NULL,
	[Dfb] [numeric](18, 2) NULL,
	[FCA] [numeric](10, 4) NULL,
	[FPC] [numeric](10, 2) NULL,
	[FCP] [nvarchar](10) NULL,
	[FJB] [numeric](10, 2) NULL,
	[FBD] [numeric](10, 2) NULL,
	[DfMech] [numeric](18, 2) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Mechanical_Fatigue] PRIMARY KEY CLUSTERED 
(
	[MechID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuList]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuList](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[ModuleID] [nvarchar](100) NOT NULL,
	[Href] [nvarchar](100) NOT NULL,
	[ModuleName] [nvarchar](100) NOT NULL,
	[SeqCategory] [nvarchar](5) NULL,
	[SeqMenu] [int] NULL,
 CONSTRAINT [PK_MenuList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organic]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organic](
	[siyear] [numeric](5, 0) NULL,
	[agosix] [numeric](5, 0) NULL,
	[sixyear] [numeric](5, 0) NULL,
	[threeyear] [numeric](5, 1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POF_Total]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POF_Total](
	[TotID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[DfThin] [nvarchar](30) NULL,
	[DfSCC] [nvarchar](30) NULL,
	[Dfextd] [nvarchar](30) NULL,
	[Dfbrit] [nvarchar](30) NULL,
	[Dftotal] [nvarchar](30) NULL,
	[Category] [nvarchar](1) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_POF_Total] PRIMARY KEY CLUSTERED 
(
	[TotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTA]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTA](
	[PTAID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[PTAAge] [numeric](18, 0) NULL,
	[PTAInsEff] [nvarchar](50) NULL,
	[PTAnofIns] [numeric](18, 0) NULL,
	[InspectDate] [smalldatetime] NULL,
	[PTASvi] [nvarchar](50) NULL,
	[PTASviVal] [numeric](18, 0) NULL,
	[PTADf] [numeric](18, 3) NULL,
	[Material] [nvarchar](50) NULL,
	[Heat] [nvarchar](50) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_PTA] PRIMARY KEY CLUSTERED 
(
	[PTAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_CLSCC]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_CLSCC](
	[Temp] [nvarchar](20) NULL,
	[pH] [nvarchar](20) NULL,
	[oneten] [nvarchar](20) NULL,
	[elhund] [nvarchar](20) NULL,
	[hundthousand] [nvarchar](20) NULL,
	[gtthousand] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_CO3]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_CO3](
	[pHofWater] [numeric](5, 1) NULL,
	[Hundredppm] [nvarchar](10) NULL,
	[Five100ppm] [nvarchar](10) NULL,
	[Thousandppm] [nvarchar](10) NULL,
	[GtThousandppm] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_COF_Adj_Det_Iso]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_COF_Adj_Det_Iso](
	[Detection] [nchar](1) NULL,
	[Isolat] [nchar](1) NULL,
	[Reduction] [numeric](2, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_COF_Damage]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_COF_Damage](
	[Fluid] [nvarchar](20) NULL,
	[ConGasA] [numeric](10, 4) NULL,
	[ConGasB] [numeric](10, 4) NULL,
	[ConLiquidA] [numeric](10, 4) NULL,
	[ConLiquidB] [numeric](10, 4) NULL,
	[InstGasA] [numeric](10, 4) NULL,
	[InstGasB] [numeric](10, 4) NULL,
	[InstLiquidA] [numeric](10, 4) NULL,
	[InstLiquidB] [numeric](10, 4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_COF_Injury]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_COF_Injury](
	[Fluid] [nvarchar](20) NULL,
	[ConGasA] [numeric](10, 4) NULL,
	[ConGasB] [numeric](10, 4) NULL,
	[ConLiquidA] [numeric](10, 4) NULL,
	[ConLiquidB] [numeric](10, 4) NULL,
	[InstGasA] [numeric](10, 4) NULL,
	[InstGasB] [numeric](10, 4) NULL,
	[InstLiquidA] [numeric](10, 4) NULL,
	[InstLiquidB] [numeric](10, 4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_COF_Leak_Det_Iso]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_COF_Leak_Det_Iso](
	[Detection] [nchar](1) NULL,
	[Isolat] [nchar](1) NULL,
	[Inch25] [numeric](2, 0) NULL,
	[Inch1] [numeric](2, 0) NULL,
	[Inch4] [numeric](2, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_COF_Lvl_1]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_COF_Lvl_1](
	[Fluid] [nvarchar](20) NULL,
	[MW] [nchar](10) NULL,
	[LqdDensity] [numeric](5, 2) NULL,
	[NBF] [numeric](5, 2) NULL,
	[Ambient] [nvarchar](20) NULL,
	[IdealGas] [nvarchar](20) NULL,
	[A] [nvarchar](20) NULL,
	[B] [nvarchar](20) NULL,
	[C] [nvarchar](20) NULL,
	[D] [nvarchar](20) NULL,
	[E] [nvarchar](20) NULL,
	[IgnTemp] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_COF_Rep_Fluids]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_COF_Rep_Fluids](
	[Rep_Fluid] [nvarchar](20) NULL,
	[Fluid_Type] [nvarchar](20) NULL,
	[Examples] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_CUI]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_CUI](
	[opTemp] [numeric](5, 0) NULL,
	[marine] [numeric](5, 3) NULL,
	[temp] [numeric](5, 3) NULL,
	[arid] [numeric](5, 3) NULL,
	[severe] [numeric](5, 3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_ECD]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_ECD](
	[opTemp] [numeric](5, 0) NULL,
	[marine] [numeric](5, 3) NULL,
	[temp] [numeric](5, 3) NULL,
	[arid] [numeric](5, 3) NULL,
	[severe] [numeric](5, 3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_Envi_Sev]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_Envi_Sev](
	[pHofWater] [numeric](5, 1) NULL,
	[Fiftyppm] [nchar](10) NULL,
	[Thosandppm] [nchar](10) NULL,
	[Tenppm] [nchar](10) NULL,
	[GtTenppm] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_EnviSul]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_EnviSul](
	[Envi] [nvarchar](20) NULL,
	[Heat] [nvarchar](20) NULL,
	[two] [nvarchar](20) NULL,
	[twothree] [nvarchar](20) NULL,
	[gttwothree] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_ExCLSCC]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_ExCLSCC](
	[opTemp] [numeric](5, 0) NULL,
	[marine] [nvarchar](10) NULL,
	[temp] [nvarchar](10) NULL,
	[arid] [nvarchar](10) NULL,
	[severe] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_ExCUI]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_ExCUI](
	[opTemp] [numeric](5, 0) NULL,
	[marine] [nvarchar](10) NULL,
	[temp] [nvarchar](10) NULL,
	[arid] [nvarchar](10) NULL,
	[severe] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_Finan_DamageCost]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_Finan_DamageCost](
	[EquipmentType] [nvarchar](30) NULL,
	[ComponentType] [nvarchar](30) NULL,
	[Small] [nvarchar](30) NULL,
	[Medium] [nvarchar](30) NULL,
	[Large] [nvarchar](30) NULL,
	[Rupture] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_Finan_MaterialCost]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_Finan_MaterialCost](
	[Material] [nvarchar](30) NULL,
	[Matcost] [nvarchar](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_Finan_Outage]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_Finan_Outage](
	[EquipmentType] [nvarchar](30) NULL,
	[ComponentType] [nvarchar](30) NULL,
	[Small] [nvarchar](30) NULL,
	[Medium] [nvarchar](30) NULL,
	[Large] [nvarchar](30) NULL,
	[Rupture] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_HIC]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_HIC](
	[Envi] [nvarchar](20) NULL,
	[stlsul] [nvarchar](20) NULL,
	[weld] [nvarchar](20) NULL,
	[pwht] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_HSC]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_HSC](
	[Heat] [nvarchar](20) NULL,
	[two] [nvarchar](20) NULL,
	[twothree] [nvarchar](20) NULL,
	[gttwothree] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_HTHA]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_HTHA](
	[Material] [nvarchar](5) NULL,
	[Pv] [numeric](4, 2) NULL,
	[Susceptibility] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_HTHA_Df]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_HTHA_Df](
	[Susceptibility] [nvarchar](50) NULL,
	[nofIns] [numeric](10, 0) NULL,
	[Inspection] [numeric](10, 0) NULL,
	[D] [numeric](10, 0) NULL,
	[C] [numeric](10, 0) NULL,
	[B] [numeric](10, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_PTA]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_PTA](
	[Material] [nvarchar](20) NULL,
	[temp] [nvarchar](5) NULL,
	[SolAnn] [nvarchar](20) NULL,
	[BeforeWeld] [nvarchar](20) NULL,
	[AfterWeld] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_PWHTno]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_PWHTno](
	[C] [numeric](4, 0) NULL,
	[sixfour] [numeric](8, 1) NULL,
	[onetwo] [numeric](8, 1) NULL,
	[twofive] [numeric](8, 1) NULL,
	[threeeight] [numeric](8, 1) NULL,
	[fivezero] [numeric](8, 1) NULL,
	[sixthree] [numeric](8, 1) NULL,
	[sevensix] [numeric](8, 1) NULL,
	[eighteight] [numeric](8, 1) NULL,
	[onezero] [numeric](8, 1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_PWHTyes]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_PWHTyes](
	[C] [numeric](4, 0) NULL,
	[sixfour] [numeric](8, 1) NULL,
	[onetwo] [numeric](8, 1) NULL,
	[twofive] [numeric](8, 1) NULL,
	[threeeight] [numeric](8, 1) NULL,
	[fivezero] [numeric](8, 1) NULL,
	[sixthree] [numeric](8, 1) NULL,
	[sevensix] [numeric](8, 1) NULL,
	[eighteight] [numeric](8, 1) NULL,
	[onezero] [numeric](8, 1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_RiskRanking]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_RiskRanking](
	[Category] [nvarchar](1) NULL,
	[A] [nvarchar](10) NULL,
	[B] [nvarchar](10) NULL,
	[C] [nvarchar](10) NULL,
	[D] [nvarchar](10) NULL,
	[E] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_SCC]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_SCC](
	[InsID] [numeric](7, 0) IDENTITY(1,1) NOT NULL,
	[Svi] [numeric](7, 0) NULL,
	[E] [numeric](7, 0) NULL,
	[Inspection] [numeric](7, 0) NULL,
	[D] [numeric](7, 0) NULL,
	[C] [numeric](7, 0) NULL,
	[B] [numeric](7, 0) NULL,
	[A] [numeric](7, 0) NULL,
 CONSTRAINT [PK_Ref_SCC] PRIMARY KEY CLUSTERED 
(
	[InsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_Sigma]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_Sigma](
	[Tmin] [numeric](10, 0) NULL,
	[Low] [numeric](10, 1) NULL,
	[Medium] [numeric](10, 1) NULL,
	[High] [numeric](10, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RiskRanking]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RiskRanking](
	[RiskID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[EquipType] [nvarchar](30) NULL,
	[CompName] [nvarchar](30) NULL,
	[POFval] [nvarchar](30) NULL,
	[POFCate] [nvarchar](30) NULL,
	[COFVal] [nvarchar](30) NULL,
	[COFCate] [nvarchar](30) NULL,
	[FinCOFval] [nvarchar](30) NULL,
	[FinCOFCate] [nvarchar](30) NULL,
	[MaxCOF] [nvarchar](30) NULL,
	[MaxVal] [nvarchar](30) NULL,
	[COFRisk] [nvarchar](30) NULL,
	[FinCOFRisk] [nvarchar](30) NULL,
	[ChooseRisk] [nvarchar](30) NULL,
	[SelectRisk] [nvarchar](30) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_RiskRanking] PRIMARY KEY CLUSTERED 
(
	[RiskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sigma_Phase]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sigma_Phase](
	[SigmaID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[Tmin] [numeric](18, 0) NULL,
	[Sigma] [nvarchar](15) NULL,
	[DfSigma] [numeric](18, 2) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Sigma_Phase] PRIMARY KEY CLUSTERED 
(
	[SigmaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[StaffNo] [nvarchar](20) NULL,
	[StaffName] [nvarchar](150) NULL,
	[Designation] [nvarchar](100) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Createdby] [numeric](18, 0) NULL,
	[Createddate] [datetime] NULL,
	[Modifiedby] [numeric](18, 0) NULL,
	[Modifieddate] [datetime] NULL,
	[Rowversions] [int] NOT NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SulfideCracking]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SulfideCracking](
	[SulID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[SulAge] [numeric](18, 0) NULL,
	[SulInsEff] [nvarchar](50) NULL,
	[SulnofIns] [numeric](18, 0) NULL,
	[InspectDate] [smalldatetime] NULL,
	[SulSvi] [nvarchar](50) NULL,
	[SulSviVal] [numeric](18, 0) NULL,
	[SulDf] [numeric](18, 3) NULL,
	[pHwater] [nvarchar](50) NULL,
	[H2S] [nvarchar](50) NULL,
	[Heat] [nvarchar](50) NULL,
	[Brinnell] [nvarchar](50) NULL,
	[Severity] [nvarchar](20) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_SulfideCracking] PRIMARY KEY CLUSTERED 
(
	[SulID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_EquipmentAsset]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_EquipmentAsset](
	[EquAutoID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[EquPID] [nvarchar](50) NULL,
	[EqupType] [nvarchar](50) NULL,
	[EqupDescription] [nvarchar](max) NULL,
	[DoshNo] [nvarchar](50) NULL,
	[PID] [nvarchar](50) NULL,
	[IPLayer] [nvarchar](50) NULL,
	[Instructive] [nvarchar](50) NULL,
	[WTM] [bit] NOT NULL,
	[YearInstalled] [nvarchar](20) NULL,
	[CompanyID] [numeric](18, 0) NULL,
	[Createdby] [nvarchar](20) NULL,
	[createddate] [smalldatetime] NOT NULL,
	[Modifiedby] [nvarchar](20) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Deleted] [bit] NOT NULL,
	[ProcessAreaID] [numeric](18, 0) NULL,
	[Rowversions] [int] NOT NULL,
	[historydescription] [nvarchar](max) NULL,
	[InspectionTechniques] [nvarchar](max) NULL,
	[Inspectionscope] [nvarchar](max) NULL,
	[RBIobservation] [nvarchar](max) NULL,
	[DOSHobservation] [nvarchar](max) NULL,
	[EquipImage] [binary](50) NULL,
	[DesignCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tbl_EquipmentAsset] PRIMARY KEY CLUSTERED 
(
	[EquAutoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_EquipmentComponentDetails]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_EquipmentComponentDetails](
	[CompAutoID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcessareaID] [numeric](18, 0) NULL,
	[EqupID] [nvarchar](10) NULL,
	[CompNo] [nvarchar](50) NOT NULL,
	[CompName] [nvarchar](50) NOT NULL,
	[Insulated] [nvarchar](50) NULL,
	[Painting] [nvarchar](50) NULL,
	[Materialtype] [nvarchar](50) NULL,
	[materialspecification] [nvarchar](50) NULL,
	[NormalThickness] [nvarchar](50) NULL,
	[ConstThickness] [nvarchar](50) NULL,
	[MRT] [numeric](18, 2) NULL,
	[ShortCRrate] [numeric](18, 3) NULL,
	[LongCRrate] [numeric](18, 3) NULL,
	[RemainingLife] [numeric](18, 0) NULL,
	[ReadVal] [numeric](18, 2) NULL,
	[CompanyID] [numeric](18, 0) NULL,
	[createdby] [numeric](18, 0) NULL,
	[createddate] [smalldatetime] NOT NULL,
	[modifiedby] [numeric](18, 0) NULL,
	[modifieddate] [smalldatetime] NULL,
	[deleted] [bit] NOT NULL,
	[rowversions] [float] NOT NULL,
	[Designpressure] [nvarchar](20) NULL,
	[DesignTemp] [nvarchar](20) NULL,
	[OPPressure] [nvarchar](20) NULL,
	[OPTemp] [nvarchar](20) NULL,
	[CorrosionAllownce] [nvarchar](20) NULL,
	[InspectionEffective] [nvarchar](20) NULL,
	[ExpectedRate] [numeric](10, 3) NULL,
	[NoofInspection] [numeric](10, 0) NULL,
	[Clad] [nvarchar](10) NULL,
	[uCR] [numeric](10, 3) NULL,
	[Defaultvalue] [numeric](10, 3) NULL,
	[Plantcode] [nvarchar](20) NULL,
	[TagName] [nvarchar](20) NULL,
 CONSTRAINT [PK_Tbl_EquipmentComponentDetails] PRIMARY KEY CLUSTERED 
(
	[CompAutoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_InspectionDataDetails]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_InspectionDataDetails](
	[InspecAutoID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[EqupID] [nvarchar](20) NULL,
	[ComponentNo] [nvarchar](20) NULL,
	[InspecDate] [smalldatetime] NULL,
	[InspectionPointNo] [nvarchar](50) NULL,
	[ReadingValue] [numeric](18, 2) NOT NULL,
	[ShortCRrate] [numeric](18, 3) NULL,
	[LongCRrate] [numeric](18, 3) NULL,
	[CompanyID] [numeric](18, 0) NULL,
	[Createdby] [numeric](18, 0) NULL,
	[createddate] [smalldatetime] NOT NULL,
	[Modifiedby] [nvarchar](20) NULL,
	[Modifydate] [smalldatetime] NULL,
	[deleted] [int] NOT NULL,
	[Rowversions] [int] NOT NULL,
	[RemainingLife] [numeric](18, 0) NULL,
	[Previousvalue] [numeric](18, 2) NULL,
	[Previousdate] [smalldatetime] NULL,
	[Initialvalue] [numeric](18, 2) NULL,
	[Initialdate] [smalldatetime] NULL,
	[MRT] [numeric](18, 0) NULL,
	[DefaultsCR] [numeric](18, 3) NULL,
	[DefaultlCR] [numeric](18, 3) NULL,
	[SCR] [numeric](18, 3) NULL,
	[LCR] [numeric](18, 3) NULL,
	[DSCR] [numeric](18, 3) NULL,
	[DLCR] [numeric](18, 3) NULL,
	[uCR] [numeric](18, 3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_InspectionEffective]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_InspectionEffective](
	[art] [numeric](18, 2) NULL,
	[E] [numeric](18, 2) NULL,
	[inspection] [numeric](18, 2) NULL,
	[D] [numeric](18, 2) NULL,
	[C] [numeric](18, 2) NULL,
	[B] [numeric](18, 2) NULL,
	[A] [numeric](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_ProcessArea]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_ProcessArea](
	[ProcessAreaID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcessArea] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[ProcessUnit] [nvarchar](50) NULL,
	[CompanyID] [numeric](18, 0) NULL,
	[createdby] [nvarchar](50) NULL,
	[createddate] [smalldatetime] NOT NULL,
	[modifiedby] [nvarchar](50) NULL,
	[modifieddate] [smalldatetime] NULL,
	[deleted] [bit] NOT NULL,
	[Rowversions] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temper_Embrit]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temper_Embrit](
	[TemperID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[Fullpress] [nvarchar](5) NULL,
	[OpTemp] [numeric](18, 0) NULL,
	[MinDsgn] [numeric](18, 0) NULL,
	[Tmin] [numeric](18, 0) NULL,
	[Tref] [numeric](18, 0) NULL,
	[FATT] [nvarchar](5) NULL,
	[fatval] [numeric](18, 0) NULL,
	[CmpThick] [numeric](18, 1) NULL,
	[PWHT] [nvarchar](5) NULL,
	[Dfb] [numeric](18, 2) NULL,
	[FSE] [numeric](18, 2) NULL,
	[DfTemp] [numeric](18, 2) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Temper_Embrit] PRIMARY KEY CLUSTERED 
(
	[TemperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test](
	[autoid] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[sample] [numeric](18, 3) NULL,
 CONSTRAINT [PK_test] PRIMARY KEY CLUSTERED 
(
	[autoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThinningDamage]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThinningDamage](
	[TDFId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProcID] [numeric](18, 0) NULL,
	[EquID] [numeric](18, 0) NULL,
	[CompID] [numeric](18, 0) NULL,
	[Clad] [nvarchar](50) NULL,
	[age] [numeric](5, 0) NULL,
	[Art] [numeric](10, 2) NULL,
	[Tdf] [numeric](18, 2) NULL,
	[InspectCate] [nvarchar](1) NULL,
	[nofins] [numeric](2, 0) NULL,
	[InspectDate] [smalldatetime] NULL,
	[ThinType] [nvarchar](10) NULL,
	[CompanyID] [numeric](18, 0) NULL,
	[CreatedBy] [numeric](18, 0) NULL,
	[CreatedDate] [smalldatetime] NULL,
	[ModifiedBy] [numeric](18, 0) NULL,
	[ModifiedDate] [smalldatetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
	[YS] [numeric](18, 2) NULL,
	[TS] [numeric](18, 2) NULL,
	[S] [numeric](18, 2) NULL,
	[E] [numeric](18, 2) NULL,
	[nofinsB] [numeric](2, 0) NULL,
	[nofinsC] [numeric](2, 0) NULL,
	[nofinsD] [numeric](2, 0) NULL,
	[Prp1_thin] [numeric](18, 2) NULL,
	[Prp2_thin] [numeric](18, 2) NULL,
	[Prp3_thin] [numeric](18, 2) NULL,
	[DS1] [numeric](18, 2) NULL,
	[DS2] [numeric](18, 2) NULL,
	[DS3] [numeric](18, 2) NULL,
	[FIP] [numeric](18, 2) NULL,
	[FDL] [numeric](18, 2) NULL,
	[FWD] [numeric](18, 2) NULL,
	[FAM] [numeric](18, 2) NULL,
	[FSM] [numeric](18, 2) NULL,
	[FOM] [numeric](18, 2) NULL,
	[FS_thin] [numeric](18, 2) NULL,
	[SRP_thin] [numeric](18, 4) NULL,
 CONSTRAINT [PK_POF] PRIMARY KEY CLUSTERED 
(
	[TDFId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGroup]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroup](
	[UserGroup] [numeric](2, 0) NOT NULL,
	[Details] [nvarchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](25) NULL,
	[Password] [nvarchar](25) NULL,
	[StaffId] [numeric](18, 0) NULL,
	[StaffName] [nvarchar](50) NULL,
	[Position] [nvarchar](30) NULL,
	[Company] [numeric](18, 0) NULL,
	[CompanyName] [nvarchar](50) NULL,
	[Createdby] [numeric](18, 0) NULL,
	[Createddate] [datetime] NULL,
	[Modifiedby] [numeric](18, 0) NULL,
	[Modifieddate] [datetime] NULL,
	[Rowversions] [int] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo_Permission]    Script Date: 26-09-2026 16:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo_Permission](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[UserId] [numeric](18, 0) NOT NULL,
	[MenuId] [numeric](18, 0) NULL,
	[Createdby] [numeric](18, 0) NOT NULL,
	[Createddate] [smalldatetime] NOT NULL,
	[Rowversions] [int] NOT NULL,
	[Modifiedby] [numeric](18, 0) NULL,
	[Modifieddate] [smalldatetime] NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserInfo_Permission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AmineCracking] ADD  CONSTRAINT [DF_AmineCracking_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AmineCracking] ADD  CONSTRAINT [DF_AmineCracking_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[AmineCracking] ADD  CONSTRAINT [DF_AmineCracking_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Brittle_Facture] ADD  CONSTRAINT [DF_Brittle_Facture_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Brittle_Facture] ADD  CONSTRAINT [DF_Brittle_Facture_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[Brittle_Facture] ADD  CONSTRAINT [DF_Brittle_Facture_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[CarbonateCracking] ADD  CONSTRAINT [DF_CarbonateCracking_InspectDate]  DEFAULT (getdate()) FOR [InspectDate]
GO
ALTER TABLE [dbo].[CarbonateCracking] ADD  CONSTRAINT [DF_CarbonateCracking_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CarbonateCracking] ADD  CONSTRAINT [DF_CarbonateCracking_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[CarbonateCracking] ADD  CONSTRAINT [DF_CarbonateCracking_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[CausticCracking] ADD  CONSTRAINT [DF_CausticCracking_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CausticCracking] ADD  CONSTRAINT [DF_CausticCracking_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[CausticCracking] ADD  CONSTRAINT [DF_CausticCracking_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[CLSCC] ADD  CONSTRAINT [DF_CLSCC_InspectDate]  DEFAULT (getdate()) FOR [InspectDate]
GO
ALTER TABLE [dbo].[CLSCC] ADD  CONSTRAINT [DF_CLSCC_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CLSCC] ADD  CONSTRAINT [DF_CLSCC_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[CLSCC] ADD  CONSTRAINT [DF_CLSCC_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[COF_Flammable] ADD  CONSTRAINT [DF_COF_Flammable_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[COF_Flammable] ADD  CONSTRAINT [DF_COF_Flammable_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[COF_Flammable] ADD  CONSTRAINT [DF_COF_Flammable_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[COF_NonFlammable] ADD  CONSTRAINT [DF_COF_NonFlammable_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[COF_NonFlammable] ADD  CONSTRAINT [DF_COF_NonFlammable_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[COF_NonFlammable] ADD  CONSTRAINT [DF_COF_NonFlammable_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_Createddate]  DEFAULT (getdate()) FOR [Createddate]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[CUI] ADD  CONSTRAINT [DF_CUI_InspectDate]  DEFAULT (getdate()) FOR [InspectDate]
GO
ALTER TABLE [dbo].[CUI] ADD  CONSTRAINT [DF_CUI_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CUI] ADD  CONSTRAINT [DF_CUI_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[CUI] ADD  CONSTRAINT [DF_CUI_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [DF_Department_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [DF_Department_Rowversion]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [DF_Department_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[ECD] ADD  CONSTRAINT [DF_ECD_InspectDate]  DEFAULT (getdate()) FOR [InspectDate]
GO
ALTER TABLE [dbo].[ECD] ADD  CONSTRAINT [DF_ECD_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ECD] ADD  CONSTRAINT [DF_ECD_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[ECD] ADD  CONSTRAINT [DF_ECD_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[EightEightFive] ADD  CONSTRAINT [DF_885_Brittlement_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[EightEightFive] ADD  CONSTRAINT [DF_885_Brittlement_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[EightEightFive] ADD  CONSTRAINT [DF_885_Brittlement_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[ExCLS] ADD  CONSTRAINT [DF_ExCLS_InspectDate]  DEFAULT (getdate()) FOR [InspectDate]
GO
ALTER TABLE [dbo].[ExCLS] ADD  CONSTRAINT [DF_ExCLS_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ExCLS] ADD  CONSTRAINT [DF_ExCLS_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[ExCLS] ADD  CONSTRAINT [DF_ExCLS_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[ExCUI] ADD  CONSTRAINT [DF_ExCUI_InspectDate]  DEFAULT (getdate()) FOR [InspectDate]
GO
ALTER TABLE [dbo].[ExCUI] ADD  CONSTRAINT [DF_ExCUI_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ExCUI] ADD  CONSTRAINT [DF_ExCUI_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[ExCUI] ADD  CONSTRAINT [DF_ExCUI_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[FinanceCOF] ADD  CONSTRAINT [DF_FinanceCOF_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[FinanceCOF] ADD  CONSTRAINT [DF_FinanceCOF_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[FinanceCOF] ADD  CONSTRAINT [DF_FinanceCOF_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[HF] ADD  CONSTRAINT [DF_HF_InspectDate]  DEFAULT (getdate()) FOR [InspectDate]
GO
ALTER TABLE [dbo].[HF] ADD  CONSTRAINT [DF_HF_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[HF] ADD  CONSTRAINT [DF_HF_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[HF] ADD  CONSTRAINT [DF_HF_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[HIC] ADD  CONSTRAINT [DF_HIC_InspectDate]  DEFAULT (getdate()) FOR [InspectDate]
GO
ALTER TABLE [dbo].[HIC] ADD  CONSTRAINT [DF_HIC_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[HIC] ADD  CONSTRAINT [DF_HIC_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[HIC] ADD  CONSTRAINT [DF_HIC_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[HSC] ADD  CONSTRAINT [DF_HSC_InspectDate]  DEFAULT (getdate()) FOR [InspectDate]
GO
ALTER TABLE [dbo].[HSC] ADD  CONSTRAINT [DF_HSC_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[HSC] ADD  CONSTRAINT [DF_HSC_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[HSC] ADD  CONSTRAINT [DF_HSC_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[HTHA] ADD  CONSTRAINT [DF_HTHA_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[HTHA] ADD  CONSTRAINT [DF_HTHA_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[HTHA] ADD  CONSTRAINT [DF_HTHA_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[LiningDamage] ADD  CONSTRAINT [DF_LiningDamage_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LiningDamage] ADD  CONSTRAINT [DF_LiningDamage_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[LiningDamage] ADD  CONSTRAINT [DF_LiningDamage_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[LogTable] ADD  CONSTRAINT [DF_LogTable_LoginTime]  DEFAULT (getdate()) FOR [LoginTime]
GO
ALTER TABLE [dbo].[MasterAuditTrail] ADD  CONSTRAINT [DF_MasterAuditTrail_Actiontime]  DEFAULT (getdate()) FOR [Actiontime]
GO
ALTER TABLE [dbo].[MasterLog] ADD  CONSTRAINT [DF_MasterLog_Actiontime]  DEFAULT (getdate()) FOR [Actiontime]
GO
ALTER TABLE [dbo].[Mechanical_Fatigue] ADD  CONSTRAINT [DF_Mechanical_Fatigue_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Mechanical_Fatigue] ADD  CONSTRAINT [DF_Mechanical_Fatigue_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[Mechanical_Fatigue] ADD  CONSTRAINT [DF_Mechanical_Fatigue_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[POF_Total] ADD  CONSTRAINT [DF_POF_Total_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[POF_Total] ADD  CONSTRAINT [DF_POF_Total_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[POF_Total] ADD  CONSTRAINT [DF_POF_Total_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[PTA] ADD  CONSTRAINT [DF_PTA_InspectDate]  DEFAULT (getdate()) FOR [InspectDate]
GO
ALTER TABLE [dbo].[PTA] ADD  CONSTRAINT [DF_PTA_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PTA] ADD  CONSTRAINT [DF_PTA_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[PTA] ADD  CONSTRAINT [DF_PTA_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[RiskRanking] ADD  CONSTRAINT [DF_RiskRanking_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[RiskRanking] ADD  CONSTRAINT [DF_RiskRanking_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[RiskRanking] ADD  CONSTRAINT [DF_RiskRanking_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Sigma_Phase] ADD  CONSTRAINT [DF_Sigma_Phase_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Sigma_Phase] ADD  CONSTRAINT [DF_Sigma_Phase_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[Sigma_Phase] ADD  CONSTRAINT [DF_Sigma_Phase_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SulfideCracking] ADD  CONSTRAINT [DF_SulfideCracking_InspectDate]  DEFAULT (getdate()) FOR [InspectDate]
GO
ALTER TABLE [dbo].[SulfideCracking] ADD  CONSTRAINT [DF_SulfideCracking_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SulfideCracking] ADD  CONSTRAINT [DF_SulfideCracking_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[SulfideCracking] ADD  CONSTRAINT [DF_SulfideCracking_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Tbl_EquipmentAsset] ADD  CONSTRAINT [DF_Tbl_EquipmentAsset_WTM]  DEFAULT ((0)) FOR [WTM]
GO
ALTER TABLE [dbo].[Tbl_EquipmentAsset] ADD  CONSTRAINT [DF_Tbl_EquipmentAsset_createddate]  DEFAULT (getdate()) FOR [createddate]
GO
ALTER TABLE [dbo].[Tbl_EquipmentAsset] ADD  CONSTRAINT [DF_Tbl_EquipmentAsset_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Tbl_EquipmentAsset] ADD  CONSTRAINT [DF_Tbl_EquipmentAsset_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[Tbl_EquipmentComponentDetails] ADD  CONSTRAINT [DF_Tbl_EquipmentComponentDetails_createddate]  DEFAULT (getdate()) FOR [createddate]
GO
ALTER TABLE [dbo].[Tbl_EquipmentComponentDetails] ADD  CONSTRAINT [DF_Tbl_EquipmentComponentDetails_deleted]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[Tbl_EquipmentComponentDetails] ADD  CONSTRAINT [DF_Tbl_EquipmentComponentDetails_rowversions]  DEFAULT ((0)) FOR [rowversions]
GO
ALTER TABLE [dbo].[Tbl_EquipmentComponentDetails] ADD  CONSTRAINT [DF_Tbl_EquipmentComponentDetails_Defaultvalue]  DEFAULT ((0.010)) FOR [Defaultvalue]
GO
ALTER TABLE [dbo].[Tbl_InspectionDataDetails] ADD  CONSTRAINT [DF_Tbl_InspectionDataDetails_createddate]  DEFAULT (getdate()) FOR [createddate]
GO
ALTER TABLE [dbo].[Tbl_InspectionDataDetails] ADD  CONSTRAINT [DF_Tbl_InspectionDataDetails_deleted]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[Tbl_InspectionDataDetails] ADD  CONSTRAINT [DF_Tbl_InspectionDataDetails_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[Tbl_ProcessArea] ADD  CONSTRAINT [DF_Tbl_ProcessArea_createddate]  DEFAULT (getdate()) FOR [createddate]
GO
ALTER TABLE [dbo].[Tbl_ProcessArea] ADD  CONSTRAINT [DF_Table_1_delete]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[Tbl_ProcessArea] ADD  CONSTRAINT [DF_Tbl_ProcessArea_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[Temper_Embrit] ADD  CONSTRAINT [DF_Temper_Embrit_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Temper_Embrit] ADD  CONSTRAINT [DF_Temper_Embrit_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[Temper_Embrit] ADD  CONSTRAINT [DF_Temper_Embrit_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[ThinningDamage] ADD  CONSTRAINT [DF_ThinningDamage_CreatedDate1]  DEFAULT (getdate()) FOR [InspectDate]
GO
ALTER TABLE [dbo].[ThinningDamage] ADD  CONSTRAINT [DF_POF_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ThinningDamage] ADD  CONSTRAINT [DF_POF_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[ThinningDamage] ADD  CONSTRAINT [DF_POF_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[ThinningDamage] ADD  CONSTRAINT [DF_ThinningDamage_YS]  DEFAULT ((0)) FOR [YS]
GO
ALTER TABLE [dbo].[ThinningDamage] ADD  CONSTRAINT [DF_ThinningDamage_TS]  DEFAULT ((0)) FOR [TS]
GO
ALTER TABLE [dbo].[ThinningDamage] ADD  CONSTRAINT [DF_ThinningDamage_S]  DEFAULT ((0)) FOR [S]
GO
ALTER TABLE [dbo].[ThinningDamage] ADD  CONSTRAINT [DF_ThinningDamage_E]  DEFAULT ((0)) FOR [E]
GO
ALTER TABLE [dbo].[ThinningDamage] ADD  CONSTRAINT [DF_ThinningDamage_nofinsB]  DEFAULT ((0)) FOR [nofinsB]
GO
ALTER TABLE [dbo].[ThinningDamage] ADD  CONSTRAINT [DF_ThinningDamage_nofinsC]  DEFAULT ((0)) FOR [nofinsC]
GO
ALTER TABLE [dbo].[ThinningDamage] ADD  CONSTRAINT [DF_ThinningDamage_nofinsD]  DEFAULT ((0)) FOR [nofinsD]
GO
ALTER TABLE [dbo].[ThinningDamage] ADD  CONSTRAINT [DF_ThinningDamage_Prp1_thin]  DEFAULT ((0)) FOR [Prp1_thin]
GO
ALTER TABLE [dbo].[ThinningDamage] ADD  CONSTRAINT [DF_ThinningDamage_Prp2_thin]  DEFAULT ((0)) FOR [Prp2_thin]
GO
ALTER TABLE [dbo].[ThinningDamage] ADD  CONSTRAINT [DF_ThinningDamage_Prp3_thin]  DEFAULT ((0)) FOR [Prp3_thin]
GO
ALTER TABLE [dbo].[ThinningDamage] ADD  CONSTRAINT [DF_ThinningDamage_DS1]  DEFAULT ((0)) FOR [DS1]
GO
ALTER TABLE [dbo].[ThinningDamage] ADD  CONSTRAINT [DF_ThinningDamage_DS2]  DEFAULT ((0)) FOR [DS2]
GO
ALTER TABLE [dbo].[ThinningDamage] ADD  CONSTRAINT [DF_ThinningDamage_DS3]  DEFAULT ((0)) FOR [DS3]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_Createddate]  DEFAULT (getdate()) FOR [Createddate]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[UserInfo_Permission] ADD  CONSTRAINT [DF_UserInfo_Permission_Createddate]  DEFAULT (getdate()) FOR [Createddate]
GO
ALTER TABLE [dbo].[UserInfo_Permission] ADD  CONSTRAINT [DF_UserInfo_Permission_Rowversions]  DEFAULT ((0)) FOR [Rowversions]
GO
ALTER TABLE [dbo].[UserInfo_Permission] ADD  CONSTRAINT [DF_UserInfo_Permission_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
