/*==========================
TOP MENU
==========================*/
.staff-Menu ul[b-dvd6n7x7vp] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

    .staff-Menu ul li[b-dvd6n7x7vp] {
        float: left;
    }

        .staff-Menu ul li a[b-dvd6n7x7vp] {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            .staff-Menu ul li a:hover[b-dvd6n7x7vp] {
                background-color: #111111;
            }
